body {
font-family: 'Raleway', sans-serif;
}
.wrapper {
width: 95%;
height: 100%;
 
text-align: left;
margin: 0 auto;
padding-bottom: 40px;
}
 
.paragen {
width: 700px;
font-size: 18px;
 
}
 
ul>li{
list-style: none;
 
}
ul>li>a {
text-decoration: none;
color: #00008B;
}
 
.listing>li {
list-style: disc;
}
 
@media only screen and (max-width: 760px) {
.paragen {
width: 100% } }